<!DOCTYPE html>

<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">          
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a th:href="@{/index}" class="navbar-brand">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a th:href="@{/listarestudiantes}" class="nav-link">Estudiantes<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/listarprestamos}" class="nav-link">Prestamoss</a>
                        </li>  
                        <li class="nav-item">
                            <a th:href="@{/listarlibros}" class="nav-link">Libros</a>
                        </li>           
                    </ul>
                </div>
            </nav>

            <section>
                <div class="container mt-6">
                    <a th:href="@{/agregarlibro}" class="btn btn-success">Agregar</a>
                    <table class="table" >
                        <thead style="background-color: #5BA5EA">
                            <tr>
                                <th>ISBN</th>
                                <th>Titulo</th>
                                <th>Editorial</th>					
                                <th>Autor</th>                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="libro:${Libros}">
                                <td th:text="${libro.ISBN}"></td>
                                <td th:text="${libro.titulo}"></td>
                                <td th:text="${libro.editorial}"></td>
                                <td th:text="${libro.autor}"></td>                            
                                <td>    
                                    <a th:href="@{/editarlibro/}+${libro.ISBN}" class="btn btn-danger">Editar</a>
                                    <a th:href="@{/eliminarlibro/}+${libro.ISBN}" class="btn btn-warning">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>    

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>
